N: 6 # minimum number of clients before running protocol
n: 6 # minimum number of relays before running protocol
l1: 3         # Number of planned mixers in a routing path
l2: 2         # Number of planned gatekeepers in a routing path
x: 25          # Server load (x = Ω(polylog λ)) i.e. the expected number of onions per intermediary hop
tau: 0.8      # (τ < (1 − γ)(1 − X)) Fraction of checkpoints needed to progress local clock
d: 2          # Threshold for number of bruises before an onion is discarded by a gatekeeper
delta: 1e-5   # The probability of differential privacy violation due to the adversary's actions.
tao: 0.8      # Fraction of expected chekpint onions required to advance local clock
chi: 1.0      # Fraction of corrupted relays (which perform no mixing)
dropAllOnionsFromClient: 1 # Client ID to drop all onions from
vis: true     # Visualize the network
scrapeInterval: 15 # Prometheus scrape interval in seconds
prometheusPath: '/opt/homebrew/bin/prometheus'
bulletin_board:
  host: 'localhost'
  port: 8080
  promPort: 8200 # where aggregated prometheus metrics are served from